// components.nbpage
// This is a notebook page container and its basic layout.

// Grid container for a notebook page.
.c-nbpage {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: $base-spacing-rem;
}

// Grid item for the side sidebar on a notebook page containing branding and
// contents list.
.c-sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

// Grid item for the cookiecrumb navigation bar that sites on top of the
// notebook content (.c-notebook)
.c-crumbbar {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

// Grid item for the notebook content itself.
.c-notebook {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
