// Report metadata component (.c-report-meta)

.c-report-meta {
  // This margin gets added to c-report-meta dd
  margin-bottom: $base-small-spacing-rem;
}

.c-report-meta dt {
  color: $faded-header-color;
  font-weight: normal;
}

.c-report-meta dd {
  font-weight: bold;
  margin-bottom: $base-small-spacing-rem;
}
